<header>
  <nav class="deep-purple darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo ml10">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <% if user_signed_in? %>
          <li class="mr10"><%= current_user.email %></li>
        <% else %>
          <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>
</header>

<ul id="sidenav-1" class="sidenav sidenav-fixed deep-purple lighten-4">
	<li><a class="subheader">LINDSAY DANNY NOTTINGHAM</a></li>
  <hr>
	<li>
    <%= link_to about_path do %>
      <i class="material-icons">psychology</i>
      Sobre mim
    <% end %>
  </li>
  <li>
    <%= link_to contact_path do %>
      <i class="material-icons">local_phone</i>
      Contato
    <% end %>
  </li>
  <li>
    <%= link_to articles_path do %>
      <i class="material-icons">article</i>
      Artigos
    <% end %>
  </li>

<hr>

  <% if user_signed_in? && current_user.role_type == 'admin' %>
  <li>
    <%= link_to new_article_path do %>
      <i class="material-icons">edit</i>
      Novo Artigo
    <% end %>
  </li>

  <hr>

  <li>
    <%= link_to edit_user_registration_path do %>
      <i class="material-icons">manage_accounts</i>
      Editar conta
    <% end %>
  </li>
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="material-icons">logout</i>
      Sair
    <% end %>
  </li>
  <hr>
  <% end %>

</ul>

<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Editar conta', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>
