<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <% if user_signed_in? %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>
</header>

<ul id="sidenav-1" class="sidenav sidenav-fixed purple lighten-5">
	<li><a class="subheader">LINDSAY DANNY NOTTINGHAM</a></li>
	<li>
    <%= link_to root_path do %>
      <i class="material-icons">psychology</i>
      Sobre mim
    <% end %>
  </li>
  <li>
    <%= link_to contact_path do %>
      <i class="material-icons">local_phone</i>
      Contato
    <% end %>
  </li>
  <li>
    <%= link_to contact_path do %>
      <i class="material-icons">article</i>
      Artigos
    <% end %>
  </li>
</ul>

<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Editar', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>
